:root{
    --mainColor: black;
    --pointColor : #62FFE3;
}

html{
    width: 100vw;
    height: 100vh;
}

.header{
    background-color: var(--mainColor);
    color: var(--pointColor);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content{
    height: calc(100vh - 200px);
}

.footer{
    background-color: var(--mainColor);
    color: var(--pointColor);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}