@font-face {
    font-family: "SUITE-Bold";
    src: url("../Fonts/SUITE-Bold.ttf");
}
  
@font-face {
    font-family: "SUITE-ExtraBold";
    src: url("../Fonts/SUITE-ExtraBold.ttf");
}

@font-face {
    font-family: "SUITE-Heavy";
    src: url("../Fonts/SUITE-Heavy.ttf");
}

@font-face {
    font-family: "SUITE-Light";
    src: url("../Fonts/SUITE-Light.ttf");
}

@font-face {
    font-family: "SUITE-Medium";
    src: url("../Fonts/SUITE-Medium.ttf");
}

@font-face {
    font-family: "SUITE-Regular";
    src: url("../Fonts/SUITE-Regular.ttf");
}

@font-face {
    font-family: "SUITE-SemiBold";
    src: url("../Fonts/SUITE-SemiBold.ttf");
}

:root{
    --mainColor: black;
    --pointColor : rgb(98, 255, 227);
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 10px;
    overflow-x: hidden;
}

.Page{
    display: flex;
    flex-direction: column;
    
}

.header{
    background-color: var(--mainColor);
    color: var(--pointColor);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9;
}

.content{
    width: 100%;
    height: auto;
    min-height: calc(100vh - 100px);
    text-align: center;
    font-family: 'SUITE-Medium';
    display: block;
    padding: 5%;
}

.footer{
    background-color: var(--mainColor);
    color: var(--pointColor);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(100%);
}
/* 
.Page_under{
    height: 100px;
} */


#imgaBox{
    z-index: 10;
}