.Searchbar{
    margin: auto;
    width: 80%;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 10%;
}

.Searchbar_input{
    width: 70vw;
    height: 5vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    
}

.Searchbar_btn{
    background-color: var(--pointColor);
    border-radius: 8px;
    width: 10vw;
    height: 5vh;
    margin-left: 2%;
    font-size: 2rem;
}

.Searchbar_btn:hover{
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.2),
        inset -2px -2px 5px 0 rgba(255, 255, 255, 0.5);
}

/* 아이템리스트 */
.ItemList_div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 5%;
    column-gap: 5%;
}

.ItmeList_dox{
    width: 100%;
    display: flex;
    text-align: left;
    padding: 10px;
    flex-direction: column;
    border: 1px solid black;
}

.ItemList_title{
    font-size: 1.5rem;
}

.item_box{
    display: flex;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    flex-direction: column;
}

.item_box:hover{
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.8);
}

.item_box-text{
    width: 100%;
    margin: auto;
    text-align: left;
    padding-left: 8%;
    padding-top: 5%;
    font-size: 2rem;
    background-color: var(--pointColor);
    border-radius: 10% / 20%;
}

.item_box-text:hover{
    cursor: default;
}

.icon_div{
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Heart_icon{
    margin-left: auto;
    margin-right: 5%;
    filter: grayscale(100%);
    z-index: 9;
    &.active{
        filter: brightness(100%);
    }
}

.Download_icon{
    margin-right: 10%;
    filter: brightness(80%);
    &.active{
        filter: brightness(0%);
    }
}

/* 메인페이지에 있는 버튼 */
.pointColor_Btn{
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 3px 3px;
    margin-top: 15%;
    width: 15rem;
    height: 6rem;
    font-size: 2rem;
    font-family: 'SUITE-Bold';
}

/* orderpage master card css */
.master_div{
    display: flex;
    
    margin: auto;
    width: 70%;
    height: 30vw;
    border-radius: 10% / 20%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 10px grey;
}

.master_div-detail{
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(152, 255, 226, 0.4);
    border-radius: 30% 0% 0% 30% / 20% 0% 0% 20%;
    
}

.masterDiv_profile{
    margin-left: auto;
    margin-right: auto;
}

.master_div-detail button{
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--pointColor);
    border-radius: 5% / 30%;
}

.master_div-img{
    margin: auto;
}

.master_div-img img{
    width: 20vw;
    height: 20vw;
    box-shadow: 8px 8px 10px lightgray;
    border-radius: 10%;
    border: 2px solid lightgray;
}

.masterDiv_chatBtn{
    margin-top: 5%;
}