/* 3D Canvas */
.Custompage{
    text-align: center;
    align-items: center;
    background-color: black;

}
.Page_Custom{
    padding-top: 100px;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.treeCanvas{
    /* display: flex; */
   /* width: 700px;
    height: 500px; */
    width: 60vw;
    height: 40vw;
    box-shadow: 0px  0px 20px   white;
}

.Page_under{
    background-color: var(--mainColor);
    height: 200px;
    margin: 10px;
    display: flex;
    padding-top: 30px;
    border-radius: 20px;
}

.customFooter{
    height: 500px;
    font-size: 25px;
}

/*ColorPicker.js CSS*/
@keyframes blink-effect {
    50% {
      opacity: 0;
    }
  }

.SpaceTool{
    display: flex;
    width: 300px;
    height: 400px;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    
}

.ColorPicker{
    display: flex;
    flex-direction: row;
    text-align: center;    
    margin: auto;
    width: fit-content;
    height: 40px;
}

.ColorPicker_input{
    width: 90px;
    font-size: 1.6rem;
    font-family: 'SUITE-Bold';
    background-color: none;
}

.ColorPicker_button{
    height: 40px;
    width: 110px;
    font-size: 2.4rem;
    font-family: 'SUITE-Bold';
    background-color: var(--pointColor);
    border-radius: 5px / 4px;
    padding-left: 3px;
    padding-right: 3px;
}

.ColorPicker_picker_Open{
    position: fixed;
    padding: 5px;
    margin-top: 40px;
    display: inline-block;
    z-index: 3;
}

/* 부위 별 버튼 */
.PartButton_div{
    padding-top: 30px;
    margin: auto;
    display: flex;
    text-align: center;
    width: fit-content;
}

.PartButton_button{
    margin: auto;
    border: 2px black solid;
    padding: 8px;
    font-size: 2.4rem;
    font-family: 'SUITE-Bold';
    background-color: var(--pointColor);
    margin-left: -2px;
    width: 115px;
}

.PartButton_button:hover{
    background-color: rgba(0, 184, 150, 0.67);
}

.btn_Shoelaces{
    border-radius: 5px 0px 0px 5px;
    margin-left: 0px;
}

.btn_Sole{
    border-radius: 0px 5px 5px 0px;
}

.btnPress{
    background-color: white;
}

/* DropDown */
.dropdown_div{
    margin: auto;
    width: 230px;
    position: relative;
    text-align: center;
    border-radius: 7px;
    padding: 0;
}

.dropdown{
    align-items: center;
    display: flex;
    width: 230px;
    padding: 5px;
    flex-direction: row;
}

.dropdown_p{
    width: 180px;
}

.dropdown_list{
    top: 42px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 230px;
    background-color: white;
    z-index: 3;
}
.dropdown_list_btn{
    padding: 2px;
}
.dropdown_list_btn:hover{
    background-color: lightgray;
}

.errorMaessage_p{
    font-size: 1.8rem;
    color: white;
    animation: blink-effect 1s step-end infinite;
}