/* 3D Canvas */
.treeCanvas{
    display: flex;
    width: 700px;
    height: 500px;
    border-radius: 10px;
}

/*ColorPicker.js CSS*/
.ColorPicker{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    width: 500px;
    height: 40px;
}

.ColorPicker_input{
    width: 90px;
    font-size: 1.6rem;
    font-family: 'SUITE-Bold';
}

.ColorPicker_button{
    height: 40px;
    width: 80px;
    font-size: 1.6rem;
    font-family: 'SUITE-Bold';
    border: 1px solid black;
    border-radius: 5px / 4px;
    padding-left: 3px;
    padding-right: 3px;
}

.ColorPicker_picker_Open{
    position: fixed;
    padding: 5px;
    margin-top: 40px;
    display: inline-block;
    z-index: 3;
}

/* 부위 별 버튼 */
.PartButton_div{
    display: flex;
    width: fit-content;
}

.PartButton_button{
    border: 2px black solid;
    padding: 8px;
    font-size: 2rem;
    font-family: 'SUITE-Bold';
    background-color: var(--pointColor);
    margin-left: -2px;
}

.PartButton_button:hover{
    background-color: rgba(0, 184, 150, 0.67);
}

.btn_Shoelaces{
    border-radius: 5px 0px 0px 5px;
    margin-left: 0px;
}

.btn_Sole{
    border-radius: 0px 5px 5px 0px;
}