.header{
    display: flex;
}

.header_logo{
    display: flex;
    width: fit-content;
    font-family: "SUITE-Heavy";
    font-size: 3rem;
}

.header_div-btn{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_btn{
    font-size: 2rem;
}
.header_loginBtn{
    background-color: var(--pointColor);
    color: var(--mainColor);
    border-radius: 3px 3px;
    width: 6vw;
    height: 5vh;
    font-size: 1.2vw;
    font-family: 'SUITE-Bold';
    margin-bottom: 5%;
}

.header_loginBtn:hover{
    box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.5),
        inset -2px -2px 5px 0 rgba(255, 255, 255, 0.5);
}