.form_div{
    background-color: var(--mainColor);
    margin: auto;
    min-width: 800px;
    width: 30vw;
    min-height: 900px;
    height: 60vh;
    border: 1px solid black;
    border-radius: 10px 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
}

.form_p{
    font-size: 5rem;
    font-family: 'SUITE-ExtraBold';
    color: var(--pointColor);
}

.form_div-box{
    width: 60%;
    display: flex;
    text-align: left;
    align-items: left;
    flex-direction: column;
}

.box_p{
    font-size: 3rem;
    color: white;
}

.box_button{
    background-color: var(--pointColor);
    border-radius: 10px 10px;
    min-width: 400px;
    width: 15vw;
    height: 7vh;
    font-size: 5rem;
    font-family: 'SUITE-Bold';
    margin-bottom: 5%;
}

.box_button:hover{
    background-color: white;

}